<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="GREEK ONE"
        android:icon="@drawable/greek_one_mark"
        android:banner="@drawable/greek_one_banner"
        tools:replace="android:label,android:icon,android:banner" />
</manifest>
